<h1 class="page-header">Dashboad</h1>

<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <img src="/public/images/users.png" alt="Users" width="78" height="78">
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= totalUser %></div>
                    <div>Total Records</div>
                </div>
            </div>
        </div>
        <a href="/user">
            <div class="panel-footer">
                <span class="pull-left">View Detail Users</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <img src="/public/images/barangs.png" alt="Barang" width="78" height="78">
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= totalBarang %></div>
                    <div>Total Records</div>
                </div>
            </div>
        </div>
        <a href="/subjects">
            <div class="panel-footer">
                <span class="pull-left">View Detail Barang</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <img src="/public/images/tempats.png" alt="Tempat" width="78" height="78">
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= totalTempat %></div>
                    <div>Total Records</div>
                </div>
            </div>
        </div>
        <a href="/tempat">
            <div class="panel-footer">
                <span class="pull-left">View Detail Tempat</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <img src="/public/images/assets.png" alt="Asset" width="78" height="78">
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"><%= totalAsset %></div>
                    <div>Total Records</div>
                </div>
            </div>
        </div>
        <a href="/students">
            <div class="panel-footer">
                <span class="pull-left">View Detail Asset</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
